#wrapper {
    margin:auto;
    width:1500px;
    height: 1200;
  }
  input {
    width:50px;
  }

  body {
    background-color: rgb(30, 30, 79);
  }

  #linechart {
    width: 1500px;
    height: 700px;
    background:rgb(174, 174, 174, .1);
    border-radius:10px;
    left: 50%;
    top: 70%;
    -webkit-transform: translate(40%, 0%);
    transform: translate(40%, 0%);
  }

  .container {
    display: flex;
  }

  #piechart {
    background:rgb(174, 174, 174, .1);
    border-radius:10px;
    height:700px;
    width:850px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  #barchart {
    background:rgb(174, 174, 174, .1);
    border-radius:10px;
    height:700px;
    width:1100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  #linechart2 {
    width: 700px;
    border: 1px solid blue;
  }
  
  html {
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .countrymap {
    stroke: black;
  }
  
  
  h1 {
    text-align: center;
    font-size: 70px;
    font-family: "Tahoma"; 
    color: whitesmoke;
  }
  
  h2{
    display: inline-block;
    text-align: left;
    padding: 50px;
  }
  
  #pHolder{
      border-top:8px solid #3C3FEE;
      padding-bottom:75px;
      background-color: #B4F1F1;
      width: 1420px;
      height: 220px;
  }
  
  p{
    padding: 5px;
  }

  #covidID {
    color: whitesmoke;
    width: 25px;
    height: 25px;
  }

  #covidLabel {
    color: whitesmoke;
    font-size: 26px;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    position: relative;
  }

  .checkbox {
    width: 400px;
    height: 660px;
    background:rgb(174, 174, 174, .1);
    padding-bottom: 40px;
    padding-left: 50px;
    border-radius:10px;
    position: absolute;
    top: 180px;
    left: 107px;
  }

  h3 {
    font-size: 24px;
    color: whitesmoke;
    font-family: "Tahoma"; 
  }
/* below styling used from  https://www.w3schools.com/howto/howto_css_switch.asp*/
  /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F52EEF;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F52EEF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}